<br><br><br><br><br>

<table align="left" >

    <tr> <td colspan="2" align = "center"> <label> No. of students = {{x}} </label> </td> </tr>

    <form [formGroup]="studentform" (ngSubmit)="onSubmit()">
    <tr> <td>  <label>Name</label> </td> 
    <td>  <input class='center' type="text" formControlName="name"> </td> </tr>
    <tr> <td>  <label>Marks</label>  </td>
    <td>  <input class='center' type="number" formControlName="marks"> </td> </tr>
  
    <tr> <td colspan="2" align="center" >  <button [disabled]="setlimit">Submit</button> </td></tr>
  
    <!-- <td align="center"> <button [disabled]="setproceed" (click)="onContinue()" routerLink="/output">Proceed</button> </td> </tr> -->
    </form>
    <tr><td align="center"> <button [disabled]="setproceed" (click)="onContinue()" routerLink="/output">Proceed</button> </td> </tr>

</table>



<br><br>